.splash {
  background-image: url('/assets/img/sinaia-old.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@screen xl {
  .splash {
    background-size: 105%;
    background-position: center 50%;
  }
}

.splash::before {
  @apply absolute pin w-full h-full z-10;
  content: '';
  background: rgba(0, 0, 0, .25);
}

.splash-text {
  @apply inline-block font-pinyon text-16xl text-white z-20 -mt-8;
  text-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}

.nav {
  @apply flex items-center absolute w-full bg-black z-30;

  a {
    @apply text-white no-underline p-4;

    &:hover {
      @apply text-grey-light;
    }
  }
}

.content {
    a {
        @apply .text-blue .no-underline;

        &:hover {
            @apply .text-blue-darker;
        }
    }
}
