.splash {
  background-image: url('/assets/img/forest-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.splash::before {
  @apply absolute pin w-full h-full z-10;
  content: '';
  background: rgba(0, 0, 0, .25);
}

.splash-text {
  text-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}

#menu {
  a {
    @apply text-splash-logo no-underline p-4;

    &.active {
      @apply text-white;
    }

    &:hover {
      @apply text-white;
    }
  }
}

[aria-expanded="true"] {
  display: block !important;
}

.content {
    a {
      @apply .text-blue .no-underline;

      &:hover {
          @apply .text-blue-darker;
      }
    }
}

.footer {
  background-image: url('/assets/img/footer-bg.jpg');
  background-repeat: no-repeat;
}
